
body


 {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.search-container {
    position: relative;
    margin-bottom: 20px;
}

#searchInput {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#resultsList {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #eee;
    border-top: none;
    border-radius: 0 0 5px 5px;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    background-color: white;
    z-index: 10;
}

#resultsList li {
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

#resultsList li:hover {
    background: #52b1c4;
background: linear-gradient(90deg, rgba(82, 177, 196, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}

#content {
    margin-top: 20px;
}


